@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family:"AguafinaScript" ;
    src: url(../fonts/AguafinaScript-Regular.ttf);
}
h1{
    font-family: "AguafinaScript";
}