.container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .blockbonolink {
    height: auto;
    display: flex;
    position: relative;
    align-self: flex-start;
    align-items: flex-start;
    border-color: transparent;
    border-radius: 40px;
    flex-direction: column;
    background-color: rgba(65, 66, 70, 1);
  }
  .frame484 {
    width: 100%;
    display: flex;
    position: relative;
    align-self: flex-start;
    align-items: flex-end;
    border-color: transparent;
    flex-direction: column;
  }
  .frame483 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    margin-bottom: 24px;
    flex-direction: column;
  }
  .text {
    color: rgba(231, 84, 174, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .text2 {
    color: var(--dl-color-text-wh100);
    height: auto;
    align-self: auto;
    text-align: left;
    font-weight: bold;
    line-height: 139.9999976158142%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .text4 {
    color: var(--dl-color-text-wh100);
    width: 100%;
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 160.0000023841858%;
    margin-right: 0;
    margin-bottom: 0;
  }
  .frame482 {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 20px;
  }
  .image32 {
    width: 100%;
    height: auto;
    border-color: transparent;
  }
  